# api config
HTTP_PROXY=
HTTPS_PROXY=
API_HOST= # add me!
API_CLIENT_NAME= # add me!
API_CLIENT_SECRET= # add me!

# database config
POSTGRES_USER= # add me!
POSTGRES_PASSWORD= # add me!
POSTGRES_DB= # add me!
POSTGRES_HOST=0.0.0.0