# Django backend
django>=4.2,<4.3
djangorestframework
django-cors-headers
PyYAML # Schema generation support
uritemplate # Schema generation support
psycopg[binary] # PostgreSQL python drivers

# For CSV seeder
pandas

# For connectors
requests

# Code autoformat
black